

@import "/UI/UI.variables.less";
@import "/UI/UI.mixins.less";


/*-------------------------------------------------------------------------- */
/*
        UI.stages
*/
/*-------------------------------------------------------------------------- */


div#stages{

    position:relative;
    background:#fff;

    div.stage{
        box-shadow:0 0 30px rgba(0, 0, 0, .3);
        border-top:10px solid #fff;
        position:relative;
        background:#fff;
    }

    h1{

        text-shadow:0 1px 3px rgba(0, 0, 0, .4);
        padding:60px 20px 80px 20px;
        font-family:silly;
        font-size:110px;
        color:#fff;
        margin:0;

        @media @mobile{
            font-size:55px;
        }

        &.fancy{
            text-shadow:2px 0 0 rgba(255, 255, 255, 1),
                        -2px 0 0 rgba(255, 255, 255, 1),
                        0 2px rgba(255, 255, 255, 1),
                        0 -2px 0 rgba(255, 255, 255, 1),
                        0 1px 3px rgba(0, 0, 0, .4);
            font-size:50px;
            color:#0058a3;
        }

    }

}