{% extends "app/extensions/pages/base.html" %}

{% block content %}

    <a name="home" id="anchor-home" class="anchor"></a>

    <div id="menu">

        <div class="backing"></div>

        <div class="logo">

            <a href="#home">

                <img src="/static/UI/menu/resized/menu.logo.png"
                  srcset="/static/UI/menu/resized/menu.logo.png 1x,
                          /static/UI/menu/resized/menu.logo@2x.png 2x" />

            </a>

        </div>

        <div class="links">

            <ul>
                <li>
                    <a href="#synopsis">
                        <span>Synopsis</span>
                    </a>
                </li>
                <li>
                    <a href="#girls">
                        <span>The Girls</span>
                    </a>
                </li>
                <li>
                    <a href="#cast">
                        <span>The Cast</span>
                    </a>
                </li>
                <li>
                    <a href="#circus">
                        <span>Flying Circus</span>
                    </a>
                </li>
            </ul>

        </div>

    </div>

    <div id="banner">

        <div class="stretch-wrap">

            <div class="stretch">

                <img src="/static/UI/banner/resized/banner.jpg"
                  srcset="/static/UI/banner/resized/banner.jpg 1x,
                          /static/UI/banner/resized/banner@2x.jpg 2x" />

            </div>

        </div>

    </div>

    <div id="stages">

        <div class="stage stage-synopsis">

            <a name="synopsis" id="anchor-synopsis" class="anchor"></a>

            <div class="container">

                <div class="col-md-7">

                    <h1>Synopsis</h1>

                    <p>
                        Silly Seasons is an animated CG comedy featuring the escapades of four girls, Daisy,
                        Summer, Ginger and Snowflake, who all live in the town of Sillyville with a supporting
                        cast of offbeat animals and flowers.  The 26 x 24' series is a lighthearted and
                        irreverent take on relationships and life in general; the show is aimed at 8-12 y.o. girls.
                    </p>

                    <p>
                        The four girls are the only humans in the series as well as the only kids. All the other
                        characters - anthropomorphic animals and plants - are adults. This forms the foundation for
                        comedy, as the series parodies adult behavior and attitudes towards kids in a fun and humorous way.
                    </p>

                </div>

            </div>

        </div>

        <div class="stage stage-girls">

            <a name="girls" id="anchor-girls" class="anchor"></a>

            The Girls

        </div>

        <div class="stage stage-cast">

            <a name="cast" id="anchor-cast" class="anchor"></a>

            The Cast

        </div>

        <div class="stage stage-circus">

            <a name="circus" id="anchor-circus" class="anchor"></a>

            Flying Circus

        </div>

    </div>

{% endblock %}