{% extends "app/extensions/pages/base.html" %}

{% block content %}

    <a name="home" id="anchor-home" class="anchor"></a>

    <div id="menu">

        <div class="backing"></div>

        <div class="mobile-logo">

            <a href="#home">

                <img src="/static/UI/menu/resized/menu.logo.mobile.png"
                  srcset="/static/UI/menu/resized/menu.logo.mobile.png 1x,
                          /static/UI/menu/resized/menu.logo.mobile@2x.png 2x" />

            </a>

        </div>

        <span class="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </span>

        <div class="links">

            <div class="wrap">

                <div class="social">

                    <a class="facebook" target="_blank" href="https://www.facebook.com/flyingcircusSA"></a>
                    <a class="youtube" target="_blank" href="https://www.youtube.com/user/FlyingCircusSA"></a>
                    <a class="email" target="_blank" href="mailto:andre@flyingcircus.tv?subject=Silly Seasons"></a>

                </div>

                <ul>
                    <li>
                        <a href="#media">
                            <span>Media</span>
                        </a>
                    </li>
                    <li>
                        <a href="#synopsis">
                            <span>Synopsis</span>
                        </a>
                    </li>
                    <li>
                        <a href="/" class='logo'>

                            <img src="/static/UI/menu/resized/menu.logo.png"
                              srcset="/static/UI/menu/resized/menu.logo.png 1x,
                                      /static/UI/menu/resized/menu.logo@2x.png 2x" />

                        </a>
                    </li>
                    <li>
                        <a href="#girls">
                            <span>Characters</span>
                        </a>
                    </li>
                    <li>
                        <a href="#circus">
                            <span>Flying Circus</span>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    <div id="banner">

        <div class="stretch-wrap">

            <div class="stretch"></div>

        </div>

    </div>

    <div id="stages">

        <div class="stage stage-media">

            <a name="media" id="anchor-media" class="anchor"></a>

            <div class="wrap">

                <div class="container">

                    <h1 class="fancy">Media</h1>

                </div>

                <div class="container">

                    <div class="col-sm-6">

                        <a class="media-box media-box-video" data-toggle="modal" data-target="#youtube-modal">
                            <span>Video</span>
                        </a>

                    </div>

                    <div class="col-sm-6">

                        <a class="media-box media-box-wallpaper" href="/static/wallpapers/Silly-Seasons-Wallpaper-1.jpg" target="_new">
                            <span>Wallpaper</span>
                        </a>

                    </div>

                </div>

            </div>

        </div>

        <div class="stage stage-synopsis">

            <a name="synopsis" id="anchor-synopsis" class="anchor"></a>

            <div class="container">

                <div class="col-md-12">

                    <h1 class="fancy">Synopsis</h1>

                    <div class="copy">

                        <div class="background"></div>

                        <div class="foreground">

                            <p>
                                Silly Seasons is an animated CG comedy featuring the escapades of four girls, Daisy,
                                Summer, Ginger and Snowflake, who all live in the town of Sillyville with a supporting
                                cast of offbeat animals and flowers.  The 26 x 24' series is a lighthearted and
                                irreverent take on relationships and life in general; the show is aimed at 8-12 y.o. girls.
                            </p>

                            <p>
                                The four girls are the only humans in the series as well as the only kids. All the other
                                characters - anthropomorphic animals and plants - are adults. This forms the foundation for
                                comedy, as the series parodies adult behavior and attitudes towards kids in a fun and humorous way.
                            </p>

                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

            </div>

        </div>

        <div class="stage stage-girls">

            <a name="girls" id="anchor-girls" class="anchor"></a>

            <div class="wrap">

                <div class="container">

                    <h1 class="fancy">Characters</h1>

                </div>

                <div class="container">

                    <div class="col-md-3 col-sm-6 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/girls/resized/girls.daisy.png"
                                  srcset="/static/UI/stages/girls/resized/girls.daisy.png 1x,
                                          /static/UI/stages/girls/resized/girls.daisy@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Daisy</h2>

                            <p>
                                Daisy is a self-proclaimed fashionista and highly sophisticated socialite. She is committed to
                                maintaining aesthetic standards for the whole of Sillyville.
                            </p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/girls/resized/girls.summer.png"
                                  srcset="/static/UI/stages/girls/resized/girls.summer.png 1x,
                                          /static/UI/stages/girls/resized/girls.summer@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Summer</h2>

                            <p>
                                Summer is the brainiac of the four girls. She spends her considerable mental resources trying to
                                resolve conflict and finding the safest course of action for the girls.
                            </p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/girls/resized/girls.ginger.png"
                                  srcset="/static/UI/stages/girls/resized/girls.ginger.png 1x,
                                          /static/UI/stages/girls/resized/girls.ginger@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Ginger</h2>

                            <p>
                                Ginger does really know what is best for everyone - all the time. And she is not afraid to say it,
                                loudly and repeatedly. Ginger also loves sports, as long as she can win.
                            </p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/girls/resized/girls.snowflake.png"
                                  srcset="/static/UI/stages/girls/resized/girls.snowflake.png 1x,
                                          /static/UI/stages/girls/resized/girls.snowflake@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Snowflake</h2>

                            <p>
                                Snowflake is a connoisseur of all things hot and chocolatey. Devoted to the delicious and fantastical,
                                her irrepressible optimism carries her unscathed through the craziest of adventures.
                            </p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.cam.png"
                                  srcset="/static/UI/stages/cast/resized/cast.cam.png 1x,
                                          /static/UI/stages/cast/resized/cast.cam@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Cam</h2>

                            <p>
                                Cam is part genius inventor, part mad scientist with a deep penchant for the dramatic. Cam’s
                                attempts at solving Sillyville’s problems often lead the girls into hilarious and silly predicaments. 
                            </p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.bolt.png"
                                  srcset="/static/UI/stages/cast/resized/cast.bolt.png 1x,
                                          /static/UI/stages/cast/resized/cast.bolt@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Bolt</h2>

                            <p>
                                Bolt is Cam's robot sidekick, companion and whipping boy who is mercilessly blamed for much
                                that goes wrong in Cam's life - and there is a lot that goes wrong. Bolt is voiceless and
                                communicates via ideograms burnt onto pieces of toast that pop out of his head, which is a
                                modified toaster.
                            </p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.vlad.png"
                                  srcset="/static/UI/stages/cast/resized/cast.vlad.png 1x,
                                          /static/UI/stages/cast/resized/cast.vlad@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Vlad</h2>

                            <p>
                                Polar bear, baker and proprietor of Vlad's Patisserie is a rock in the stormy seas of Sillyville.
                                He can be found behind the counter at the patisserie dispensing advice and hot chocolate.
                            </p>

                        </div>

                    </div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-4 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.deadpan.png"
                                  srcset="/static/UI/stages/cast/resized/cast.deadpan.png 1x,
                                          /static/UI/stages/cast/resized/cast.deadpan@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Deadpan</h2>

                            <p>
                                Deadpan is Sillyville's Machiavellian mayor - an orangutan who makes Sillyville his own
                                personal fiefdom to do with just what he pleases until his own greed and avarice inevitably
                                torpedoes his own underhanded schemes.
                            </p>

                        </div>

                    </div>

                    <div class="clearfix visible-md-block visible-lg-block"></div>

                    <div class="col-md-2 col-sm-4 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.ron.png"
                                  srcset="/static/UI/stages/cast/resized/cast.ron.png 1x,
                                          /static/UI/stages/cast/resized/cast.ron@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Ron</h2>

                            <p>
                                Ron is the brainy member of Sillyvision's anchor duo. Ron's job is mostly keeping his partner,
                                Don, from ruining the news. 
                            </p>

                        </div>

                    </div>

                    <div class="col-md-2 col-sm-4 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.don.png"
                                  srcset="/static/UI/stages/cast/resized/cast.don.png 1x,
                                          /static/UI/stages/cast/resized/cast.don@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Don</h2>

                            <p>
                                Don is the brainless half of Sillyville's news anchor team. Don blunders through news broadcasts
                                and interviews, oblivious to how the news doesn't always have to be about him.
                            </p>

                        </div>

                    </div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-4 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.venus.png"
                                  srcset="/static/UI/stages/cast/resized/cast.venus.png 1x,
                                          /static/UI/stages/cast/resized/cast.venus@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Venus</h2>

                            <p>
                                Venus is Silly Seasons' resident roving reporter and host of the 'Flower Power Half Hour'.
                                Gossip is her middle name and nothing stands in the way of Venus and a delicious scoop, not
                                even the facts.
                            </p>

                        </div>

                    </div>

                    <div class="col-md-2 col-sm-4 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.harry.png"
                                  srcset="/static/UI/stages/cast/resized/cast.harry.png 1x,
                                          /static/UI/stages/cast/resized/cast.harry@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Harry</h2>

                            <p>
                                Harry is the resident deliveryman. Kind and always on time, well known among all Sillyvilians
                                as the happy hippo, Harry. 
                            </p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.scary.png"
                                  srcset="/static/UI/stages/cast/resized/cast.scary.png 1x,
                                          /static/UI/stages/cast/resized/cast.scary@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Scary</h2>

                            <p>
                                Scary is a terrifyingly cute, under-the-bed-monster. Found by Daisy, this little guy is
                                petrified of everything around him. He also suffers from acute self-esteem issues, and as
                                a result, had become Daisy's pet project. 
                            </p>

                        </div>

                    </div>

                    <div class="clearfix visible-md-block visible-lg-block"></div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.gerald.png"
                                  srcset="/static/UI/stages/cast/resized/cast.gerald.png 1x,
                                          /static/UI/stages/cast/resized/cast.gerald@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Gerald</h2>

                            <p>
                                Gerald is Snowflake's accommodating butler. Trained at the South Pole Penguin Academy, he aims
                                to please and prides himself in his pristine delivery and appearance. Nothing is too big or
                                too small for Gerald to deal with, especially if it's for his dear Miss Snowflake. 
                            </p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.spike.png"
                                  srcset="/static/UI/stages/cast/resized/cast.spike.png 1x,
                                          /static/UI/stages/cast/resized/cast.spike@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Spike</h2>

                            <p>
                                Spike is Sillyville Mayor Deadpan's loyal assistant. Spike's unsurpassed loyalty to Deadpan
                                informs all that he does. More than anything he wants Deadpan's approval and will stop at
                                nothing to get it.
                            </p>

                        </div>

                    </div>

                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.cameron.png"
                                  srcset="/static/UI/stages/cast/resized/cast.cameron.png 1x,
                                          /static/UI/stages/cast/resized/cast.cameron@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Cameron</h2>

                            <p>
                                Cameron is Cam's overblown windbag cousin. He's always done more, gone further or flown higher
                                than anyone else, but can never be pinned down on the exact details of his exploits.
                            </p>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 girls-snowflake">

                        <div class="image">

                            <div class="image-wrap">

                                <img src="/static/UI/stages/cast/resized/cast.camilla.png"
                                  srcset="/static/UI/stages/cast/resized/cast.camilla.png 1x,
                                          /static/UI/stages/cast/resized/cast.camilla@2x.png 2x" />

                            </div>

                        </div>

                        <div class="char-wrap">

                            <h2>Camilla</h2>

                            <p>
                                Camilla is Cameron's unfortunate life partner. Almost everything that this feisty lady-chameleon
                                does is to foil or expose Cameron. She loves to tease Cameron and seems to warm to anyone but
                                him, however, their relationship endures despite them both.
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="stage stage-circus">

            <a name="circus" id="anchor-circus" class="anchor"></a>

            <div class="container">

                <div class="col-md-4 col-md-offset-1 text-center">

                    <a href="http://www.flyingcircus.tv/">
                        <img src="/static/UI/stages/circus/resized/circus.logo.png"
                          srcset="/static/UI/stages/circus/resized/circus.logo.png 1x,
                                  /static/UI/stages/circus/resized/circus.logo@2x.png 2x" />
                    </a>

                </div>

                <div class="col-md-5 col-md-offset-1">

                    <h1>About the Flying Circus</h1>

                    <p><a href="http://www.flyingcircus.tv/">www.flyingcircus.tv</a></p>

                    <p>
                        <a href="http://www.flyingcircus.tv/">The Flying Circus</a> produces CG animated kids-comedy using a state of the art motion capture system.
                        Our production philosophy utilizes experienced physical theatre performers, and as a result, the process
                        delivers a fresh and spontaneous style of animation with fast and snappy dialogue.
                    </p>

                    <p>
                        Improvisation between the actors and the 'live' nature of the performances gives a unique feel to the
                        animation and allows a large degree of flexibility during production.  
                    </p>

                    <p>
                        The advantage of a motion capture-based production process is its ability to quickly turn around
                        multiple episodes once all the 3D assets are developed while still retaining high production values.
                    </p>

                </div>

            </div>

        </div>

        <div id="footer">

            <div class="container text-center">

                <p>
                    The Flying Circus - A Division of Primedia (PTY) Ltd.
                    &copy; Copyright 2015. All rights reserved.
                </p>

                <p>Built and Powered By <a href="http://www.f-8.co.za/">F8</a></p>

            </div>

        </div>

    </div>

    <div class="modal fade" id="youtube-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="fancy">Video</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <iframe src="https://www.youtube.com/embed/z8z7zVeXBik" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
