{% extends "app/extensions/pages/base.html" %}

{% block content %}

    <div id="menu">

        <div class="backing"></div>

        <div class="logo">

            <img src="/static/UI/menu/resized/menu.logo.png" />

        </div>

        <div class="links">

            <ul>
                <li>
                    <a href="#home">
                        <span>
                            Silly Seasons
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#synopsis">
                        <span>
                            Synopsis
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#flying-circus">
                        <span>
                            Flying Circus
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#girls">
                        <span>
                            The Girls
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#cast">
                        <span>
                            The Cast
                        </span>
                    </a>
                </li>
            </ul>

        </div>

    </div>

    <div id="banner">

        <div class="stretch-wrap">
            <div class="stretch">
                <img src="/static/UI/banner/resized/banner.jpg" />
            </div>
        </div>

    </div>

    <div id="stages">

        <div class="stage stage-home">

            Silly Seasons

        </div>

        <div class="stage stage-synopsis">

            Synopsis

        </div>

        <div class="stage stage-flying-circus">

            Flying Circus

        </div>

        <div class="stage stage-girls">

            The Girls

        </div>

        <div class="stage stage-cast">

            The Cast

        </div>

    </div>

{% endblock %}