
# ---------------------------------------------------------------------------#
#
#       files
#
# ---------------------------------------------------------------------------#


.DS_Store
.tags
.classpath
.project
todo.txt
src/web/base/composer.lock


# ---------------------------------------------------------------------------#
#
#       extensions
#
# ---------------------------------------------------------------------------#


*.swp
*.sublime-project
*.egg-info
*.pyc


# ---------------------------------------------------------------------------#
#
#       sublime
#
# ---------------------------------------------------------------------------#


/backup
/build
/support/webapps.sublime-workspace
nbproject
resized


# ---------------------------------------------------------------------------#
#
#       node
#
# ---------------------------------------------------------------------------#


/node_modules
npm-debug.log


# ---------------------------------------------------------------------------#
#
#       bower
#
# ---------------------------------------------------------------------------#


bower
resized
src/app/build
src/app/bundles
src/app/static/lib/bower
*/lib/bower


# ---------------------------------------------------------------------------#
#
#       vscode
#
# ---------------------------------------------------------------------------#


/.settings
