

@import "/UI/UI.variables.less";
@import "/UI/UI.mixins.less";


/*-------------------------------------------------------------------------- */
/*
        UI
*/
/*-------------------------------------------------------------------------- */


body{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height:1.625;
    padding:0;
    margin:0;
}
