

/*-------------------------------------------------------------------------- */
/*
        UI.variables
*/
/*-------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------ */
/*
        Media Queries
*/
/* ------------------------------------------------------------------------ */


@highdensity:   ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
                ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
                ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
                ~"only screen and (min-device-pixel-ratio: 1.5)";

@mobile:          ~"only screen and (max-width: 529px)";
@mobile-retina:   ~"only screen and (max-width: 529px) and (-webkit-min-device-pixel-ratio: 1.5)",
                  ~"only screen and (max-width: 529px) and (min--moz-device-pixel-ratio: 1.5)",
                  ~"only screen and (max-width: 529px) and (-o-min-device-pixel-ratio: 3/2)",
                  ~"only screen and (max-width: 529px) and (min-device-pixel-ratio: 1.5)";
@tablet:          ~"only screen and (min-width: 530px) and (max-width: 949px)";
@tablet-retina:   ~"only screen and (min-width: 530px) and (max-width: 949px) and (-webkit-min-device-pixel-ratio: 1.5)",
                  ~"only screen and (min-width: 530px) and (max-width: 949px) and (min--moz-device-pixel-ratio: 1.5)",
                  ~"only screen and (min-width: 530px) and (max-width: 949px) and (-o-min-device-pixel-ratio: 3/2)",
                  ~"only screen and (min-width: 530px) and (max-width: 949px) and (min-device-pixel-ratio: 1.5)";
@tablet-v:        ~"only screen and (max-width: 800px)";
@tablet-v-retina: ~"only screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 1.5)",
                  ~"only screen and (max-width: 800px) and (min--moz-device-pixel-ratio: 1.5)",
                  ~"only screen and (max-width: 800px) and (-o-min-device-pixel-ratio: 3/2)",
                  ~"only screen and (max-width: 800px) and (min-device-pixel-ratio: 1.5)";
@desktop:         ~"only screen and (min-width: 801px)";
@desktop-retina:  ~"only screen and (min-width: 801px) and (-webkit-min-device-pixel-ratio: 1.5)",
                  ~"only screen and (min-width: 801px) and (min--moz-device-pixel-ratio: 1.5)",
                  ~"only screen and (min-width: 801px) and (-o-min-device-pixel-ratio: 3/2)",
                  ~"only screen and (min-width: 801px) and (min-device-pixel-ratio: 1.5)";


@bootstrap-sm: ~"only screen and (max-width: 750px)";
@bootstrap-md: ~"only screen and (max-width: 970px)";
@bootstrap-lg: ~"only screen and (max-width: 1170px)";


/*-------------------------------------------------------------------------- */
/*
        Retina Image
*/
/*-------------------------------------------------------------------------- */


.retina-image (@file, @repeat, @width, @height, @posx, @posy) {

    background-image : url('@{file}');
    background-position : @posx @posy;
    background-repeat : @repeat;

    @retina_path : ~`@{file}.replace(/\.(jpg|jpeg|gif|png)$/i, '@2x.$1')`;

    @media @highdensity {
        background-image : url(@retina_path);
        background-size : @width @height;
    }

}


/*-------------------------------------------------------------------------- */
/*
        Linear Gradients
*/
/*-------------------------------------------------------------------------- */


.linear-gradient(@dir: top, @start-color: #eee, @end-color: #aaa){
	background:-webkit-linear-gradient(@dir, @start-color 0%, @end-color 100%);
	background: -khtml-linear-gradient(@dir, @start-color 0%, @end-color 100%);
	background:   -moz-linear-gradient(@dir, @start-color 0%, @end-color 100%);
	background:    -ms-linear-gradient(@dir, @start-color 0%, @end-color 100%);
	background:     -o-linear-gradient(@dir, @start-color 0%, @end-color 100%);
	background:        linear-gradient(@dir, @start-color 0%, @end-color 100%);
}


/*-------------------------------------------------------------------------- */
/*
        Transform
*/
/*-------------------------------------------------------------------------- */


.transform(@val){
    -webkit-transform:@val;
     -khtml-transform:@val;
       -moz-transform:@val;
        -ms-transform:@val;
         -o-transform:@val;
            transform:@val;
}


/*-------------------------------------------------------------------------- */
/*
        Box Shadow
*/
/*-------------------------------------------------------------------------- */


.box-shadow(@val){
    -webkit-box-shadow:@val;
     -khtml-box-shadow:@val;
       -moz-box-shadow:@val;
        -ms-box-shadow:@val;
         -o-box-shadow:@val;
            box-shadow:@val;
}


/*-------------------------------------------------------------------------- */
/*
        Box Sizing
*/
/*-------------------------------------------------------------------------- */


.box-sizing(@val){
    -webkit-box-sizing:@val;
     -khtml-box-sizing:@val;
       -moz-box-sizing:@val;
        -ms-box-sizing:@val;
         -o-box-sizing:@val;
            box-sizing:@val;
}


/*-------------------------------------------------------------------------- */
/*
        Transition
*/
/*-------------------------------------------------------------------------- */


.transition(@val){
    -webkit-transition:@val;
     -khtml-transition:@val;
       -moz-transition:@val;
        -ms-transition:@val;
         -o-transition:@val;
            transition:@val;
}


/*-------------------------------------------------------------------------- */
/*
        Filter
*/
/*-------------------------------------------------------------------------- */


.filter(@val){
    -webkit-filter:@val;
     -khtml-filter:@val;
       -moz-filter:@val;
        -ms-filter:@val;
         -o-filter:@val;
            filter:@val;
}


/*-------------------------------------------------------------------------- */
/*
        Woff Font
*/
/*-------------------------------------------------------------------------- */


.font(@name, @path){
    @font-face{
        font-family:'@{name}';
        src:
            url('@{path}.eot?#iefix') format('embedded-opentype'),
            url('@{path}.woff') format('woff');
    }
}

