<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

        <meta charset="utf-8" />

        <title>Silly Seasons</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="/static/images/icons/favicon/resized/favicon.64x64.png" />

        {% for size in [57, 72, 76, 114, 120, 144, 152, 180] %}

            <link rel="apple-touch-icon" href="/static/images/icons/apple-touch-icon/resized/apple-touch-icon.{{ size }}x{{ size }}.png" sizes="{{ size }}x{{ size }}" />

        {% endfor %}

        {% compress "global" %}

            <link rel="stylesheet" type="text/css" href="/static/lib/bower/bootstrap/less/bootstrap.less" />

            <script type="text/javascript" src="/static/lib/bower/jquery/dist/jquery.min.js"></script>

            <link rel="stylesheet" type="text/css" href="/static/UI/UI.less" />
            <link rel="stylesheet" type="text/css" href="/static/UI/banner/banner.less" />
            <link rel="stylesheet" type="text/css" href="/static/UI/fonts/fonts.less" />
            <link rel="stylesheet" type="text/css" href="/static/UI/menu/menu.less" />
            <link rel="stylesheet" type="text/css" href="/static/UI/stages/stages.less" />

            <script type="text/javascript" src="/static/App.js"></script>
            <script type="text/javascript" src="/static/UI/UI.js"></script>
            <script type="text/javascript" src="/static/UI/banner/banner.js"></script>
            <script type="text/javascript" src="/static/UI/menu/menu.js"></script>

        {% endcompress %}

    </head>

    <body>

        {% block content %}{% endblock %}

    </body>

</html>